doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Открывайте кейсы CS:GO с выгодой!
  link(rel="stylesheet" href="stylesheets/app.css")
  //- link( href="stylesheets/style.css" rel="stylesheet")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.0/trianglify.min.js")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")




  script.
    require('initialize');


body
  .container

    .header
      nav.navbar(role="navigation")
        a.navbar-brand(href="#") Open Case
        ul.nav.navbar-nav.navbar-left
          li
            a(href="#") Консультант
          li
            a(href="#") Гарантии
          li
            a(href="#") Помощь

    .content
      .content-header

      .content-body
        - for (var i=0;i<10;i++)
          .item-wrapper
            .item(data-key="Winter Offensive" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Кейс "Winter Offensive


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/winter_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть































































































