doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Открывайте кейсы CS:GO с выгодой!
  link(rel="stylesheet" href="stylesheets/app.css")
  link( href="stylesheets/style.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.0/trianglify.min.js")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")




  script.
    require('initialize');


body
  .container
    .header
      nav.navbar(role="navigation")
        a.navbar-brand(href="#" ) open case
        ul.nav.navbar-nav.navbar-left
          li
            a(href="#") Консультант
          li
            a(href="#modal" data-toggle="modal" data-target="#modal") Гарантии
          li
            a.one-line(href="#") Помощь


    .content
      .content-header
        .lenta
          h1.lenta
            | Последние выигрыши
          h2.lenta
            | в прямом эфире

        .content-lenta
          .item-lenta



      .content-body



          .item-wrapper
            .item(data-key="CS:GO Weapon #2" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Оружейный кейс: Тираж #2


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/orujeiniy2_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть

          .item-wrapper
            .item(data-key="CS:GO Weapon #3" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Оружейный кейс: Тираж #3


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/orujeiniy3_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть

          .item-wrapper
            .item(data-key="eSports 2013" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Кейс eSports 2013


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/esports2013_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть

          .item-wrapper
            .item(data-key="Winter Offensive" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Кейс "Winter Offensive


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/winter_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть

          .item-wrapper
            .item(data-key="eSports 2013 Winter" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Зимный кейс eSports 2013


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/esportsw2013_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть

          .item-wrapper
            .item(data-key="eSports 2014 Summer" data-price="99")
              .desc
                .name
                  | Cлучайное оружие из<br>
                Span
                  | Кейс eSports 2014


              .img-wrapper
                .item-link
                  img.itemsimg(src="images/esports2014_case.png" width="189px")
              img.stand(src="images/stand.png")

              .cost
                img(src="images/money.png")
                | 89 рублей
              .buyb
                img(src="images/ook.png")
                | открыть




    .stone
      span(style="color: #EFDA08;")
        | ВНИМАНИЕ!
      | Steam ввел новые ограничения, поэтому сейчас действуют новые условия покупки<br>

      | Перед тем, как задавать вопросы почитайте <a style="color: #EFDA08; cursor: pointer; text-decoration: underline;" data-modal="#siteFAQ" href="#">"Помощь по сайту"</a>










  .modal#modal
    .modal-dialog
      .modal-content
        .modal-header
          div(style="text-align: center; color: #D3A22C; font-weight: bold; font-size: 20px; text-transform: uppercase; padding-bottom: 5px;")
              | Наши гарантии
        .modal-body
          | Верифицированный аккаунт Digiseller
          br
          | Мы принимаем оплату через платежные системы Oplata.Info
          br
          | Верифицированный аккаунт - значит что мы прошли полную проверку личности и магазина перед добавлением в
          | платежные системы.
          | Персональный аттестат Webmoney
          br
          | Персональный аттестат WebMoney - цифровое удостоверение личности заверенное аналогом собственноручной
          | подписи участника системы WebMoney Transfer, в котором записаны личные данные его обладателя: ФИО, паспортная и контактная информация.
          | Полная идентификация в системах QIWI и Яндекс.Деньги
          br
          | Мы принимаем оплату на этом сайте на наши идентифицированные счета
          br
          | Полная идентификация выдаются магазинам только после личной встречи в пунктах партнеров QIWI или
          | дополнительных офисах Киви банк (ЗАО) и после полной полной проверки магазина.
        //- .modal-footer




  .modal#game
    .modal-dialog
      .modal-content
        .modal-header
          div(style="text-align: center; color: #D3A22C; font-weight: bold; font-size: 20px; text-transform: uppercase; padding-bottom: 5px;")
              | Розыгрыш
        .modal-body
          button.roll
            | Крутить рулетку









































































